.newMovie {
    flex: 4;
}

.newMovieFormInputs {
    display: flex;
    flex-wrap: wrap;
}

.newMovieFormItem {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.newMovieFormLabel {
    font-weight: 600;
    color: gray;
    margin: 10px 0;
}

.newMovieFormInput {
    border: 1px solid gray;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
}

.newMovieFormSelect {
    border: 1px solid gray;
    padding: 10px;
    width: 220px;
    border-radius: 5px;
    color: gray;
}

.newMovieButton {
    align-self: flex-start;
    font-size: 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    background-color: darkblue;
    cursor:pointer;
}